<footer class="footer">
    <div class="footer__wrap container container--sml">
        <div class="footer__block footer__top">
            <div class="footer__info">
                <a href="#" class="logo" title="Aperture">
                    <svg width="128" height="31">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <p class="footer__desc text" tabindex="0">
                    Photographers & videographers capturing the world around us.
                </p>
            </div>
            <nav class="footer-nav">
                <div class="footer-nav__block">
                    <h2 class="footer-nav__title text text--strch" tabindex="0">Business areas</h2>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Product Photography</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Architecture Photography</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Drone Photography</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Wildlife Photography</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav__block">
                    <h2 class="footer-nav__title text text--strch" tabindex="0">Pages</h2>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Gear cage</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Featured images</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Contact</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Style guide</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Instructions</a>
                        </li>
                        <li class="footer-nav__item text">
                            <a href="#" class="footer-nav__link">Changelog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="footer__block footer__mid">
            <form action="" class="form subscribe">
                <div class="subscribe__info">
                    <h2 class="subscribe__label text text--strch" tabindex="0">Subscribe to our newsletter</h2>
                    <p class="subscribe__subtitle text" tabindex="0">Read about all the things we do.</p>
                </div>
                <div class="subscribe__input">
                    <input class="form__input subscribe__email" type="email" aria-label="Type your email here" placeholder="foo@bar.com">
                    <button class="subscribe__btn btn--void" type="submit">submit</button>
                </div>
            </form>
        </div>
        <div class="footer__block footer__bottom">
            <p class="text" tabindex="0">
                © Aperture Photography, Inc.
                All rights reserved.
                Licensing.
            </p>
            <ul class="socials">
                <li class="socials__social">
                    <a href="#" class="socials__link">
                        <span class="visually__hidden">Twitter</span>
                        <svg width="25" height="25" class="socials__ico">
                            <use xlink:href="#ico_twit"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__social">
                    <a href="#" class="socials__link">
                        <span class="visually__hidden">Instagram</span>
                        <svg width="25" height="25" class="socials__ico">
                            <use xlink:href="#ico_inst"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__social">
                    <a href="#" class="socials__link">
                        <span class="visually__hidden">Facebook</span>
                        <svg width="25" height="25" class="socials__ico">
                            <use xlink:href="#ico_fb"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>