<header class="header">
    <nav class="nav container container--sml container--no-pad">
        <a href="#" class="logo" title="Aperture">
            <svg width="128" height="31">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <div class="burger">
            <div></div>
            <div></div>
        </div>
        <div class="nav__wrap">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Business areas</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Featured images</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Gear cage</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
            <a href="#" class="nav__btn btn">Get template</a>
        </div>
    </nav>
</header>