::-webkit-scrollbar {
    width: .5em;
    background: hsla(220, 0%, 0%, .1);
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--clr-ntrl-10);
    border-radius: 2em;

    &:hover {
        background-color: var(--clr-ntrl-30);
        box-shadow: inset 0px 0px 0px 1px white;
    }

    &:active {
        background-color: var(--clr-ntrl-40);
        box-shadow: inset 0px 0px 0px 1px white;
    }
}

::-webkit-scrollbar-track {
    margin-top: var(--header-h);
}