:root {
    ::-webkit-scrollbar {
        width: .5em;
        background: hsla(220, 0%, 0%, .1);
    }
    
    ::-webkit-scrollbar-thumb {
        height: 5%;
        background-color: var(--clr-ntrl-10);
        border-radius: 2em;
        
        &:hover {
            background-color: var(--clr-ntrl-40);
        }
        &:active {
            background-color: var(--clr-ntrl-50);
        }
    }
    
    ::-webkit-scrollbar-track {
        margin-top: var(--header-h);
    }
}