$font-sizes: (
    'small': (
        12: .75rem,
        14: .875rem,
        16: 1rem,
        24: 1.25rem,
        28: 1.5rem,
        40: 1.75rem,
        54: 2.5rem,
    ),
    'mid': (
        12: .75rem,
        14: .875rem,
        16: 1rem,
        24: 1.25rem,
        28: 1.4rem,
        40: 2.25rem,
        54: 3rem,
    ),
    'big': (
        12: .75rem,
        14: .875rem,
        16: 1rem,
        24: 1.5rem,
        28: 1.75rem,
        40: 2.5rem,
        54: 3.375rem,
    )
);

$line-heights: (
    s: 1,
    m: 1.25,
    b: 1.5,
);

$font-weights: (
    400: 400,
);