@use '../alias/medias' as *;

.contact {
    text-align: center;
    padding: 3rem 0;
    background-color: var(--clr-ntrl-0);
    
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        margin-inline: auto;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__btn {
    }
}

@include breakpoint-up(medium) {
    .contact {
        padding: var(--sect-pad-s);
    }
}