@use '../alias/medias' as *;

.hero {
    position: relative;
    padding: 3rem 0 6rem;
    height: calc(100vh - var(--header-h, 0px));
    max-height: 900px;
    background-color: var(--clr-ntrl-0);

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        height: 100%;
        z-index: var(--i-low);
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        max-width: 580px;
    }

    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: min(100%, var(--cont-def-w));
        background-color: var(--clr-ntrl-40);
        z-index: var(--i-bot);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: -1px;
            left: 0;
            right: 0;
            margin-inline: auto;
            background-image: 
                linear-gradient(
                    transparent 0%, black 85%
                )
            ;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

@include breakpoint-up(medium) {
    .hero {
        padding: 3rem 0 4.5rem;
    }
}